<!DOCTYPE html>
<html>
  <head>
    <title>Lista de Usuários</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Lista de usuários</h1>
    <ul>
      <% customers.forEach(function(user){ %>
      <li><a href="mailto:<%= user.email %>"><%= user.name %></a></li> 
      <%})%>
      </ul>
  </body>
</html>
